{% extends 'base.html.twig' %}

{% block title %}Detail Category{% endblock %}

{% block body %}
   
  <table class="table">
        <thead>
            <tr>
              <td>{{category.Name}}  </td>
            </tr>
            <tr>
                <th scope="col">Image </th>
                <th scope="col">Nom </th>
                <th scope="col">Prix </th>
                <th scope="col">Calories </th>
                <th scope="col">Allergenes </th>
            </tr>
        </thead>
        <tbody>
        {% for dish in category.Dish %}
            <tr>
                <td>  <img  src="{{dish.Image}}" height="36"/></td>
                <td>  {{dish.Name}} </td>
                <td>  {{dish.Price}} </td>
                <td>  {{dish.Calories}} </td>
                <td>
                    {% for allerg in dish.allergen %}
                        {{allerg.name}}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>

        <tr>
            <td>
                <a href="{{ path('front_dishes') }}"> Revenir aux categories </a>
            </td>
        </tr>
    </table>
{% endblock %}